In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('yearWise.csv')

In [3]:
dist = np.zeros([7102, 7102], dtype=float)

In [4]:
df.set_index("id", inplace = True)

In [5]:
for i in range(7102):
	dist[i][i] = 1
	# print(i)
	i_list = df.loc[i].to_list()
	# break
	for j in range(i+1, 425):
		j_list = df.loc[j].to_list()
		# print(j_list)
		my_rho = np.corrcoef(i_list, j_list)[0][1]
		# print(my_rho[0][1])
		dist[i][j] = my_rho
		dist[j][i] = my_rho
		# break
	# break

In [6]:
df_write = pd.DataFrame(data = dist, columns=[i for i in range(0, 7102)])

In [7]:
df_write.to_csv("pearson_distance.csv")

In [8]:
df_write.describe()

,0,1,2,3,4,5,6,7,8,9,...,7092,7093,7094,7095,7096,7097,7098,7099,7100,7101
count,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,...,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000,7102.000000
mean,0.001873,0.001044,0.000568,-0.003305,0.001987,-0.001398,-0.002457,0.001669,0.000386,0.000386,...,0.000141,0.000141,0.000141,0.000141,0.000141,0.000141,0.000141,0.000141,0.000141,0.000141
std,0.056611,0.049617,0.071121,0.032551,0.060761,0.051929,0.031006,0.058058,0.050594,0.050594,...,0.011866,0.011866,0.011866,0.011866,0.011866,0.011866,0.011866,0.011866,0.011866,0.011866
min,-0.235568,-0.133279,-0.551225,-0.198762,-0.327129,-0.327129,-0.138260,-0.242067,-0.136532,-0.136532,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000